<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ball</title>
  </head>
  <body>
    <div class="">
      <p>consequences</p>
      <p>j</p>
    </div>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
